<div id="fbi-content">
	<div class="fbi-headerblock">
		<img alt="" class="image-mobile" data-src="@@path/img/srcsets/hertz-xc40-hero.jpg" data-alignment="10% top">
		<img alt="" class="image-desktop" data-src="@@path/img/srcsets/hertz-xc40-hero.jpg" data-alignment="left top">
		<div class="headline-wrapper">
			<div class="text-align-left">
				<h5>Care by Volvo – i samarbete med Hertz. </h5>
				<h1>Hur länge behöver du bil?</h1>
				<p>
					Starta ditt abonnemang idag och kör i upp till 12 månader. Eller avsluta när det passar dig. Till en nästan ny Volvo XC40 ingår försäkring, fordonsskatt, service, Sunfleet-medlemskap med 10 fria resor à 500 kr, vinterhjul med hjulskifte och förvaring samt 20 procent rabatt på Hertz hyrbilar. Självklart till en fast månadskostnad.
				</p>
				<p><strong>Leveranstid ca 14 dagar.
				<br>30 dagar uppsägningstid.</strong></p>
			</div>
			<div class="pris-bottom-left">
				<p>Volvo XC40</p>
				<h2>5 900 kr/mån</h2>
			</div>
		</div>
	</div>

	<div class="mobile-heroheadline">
			<h3>Care by volvo – i samarbete med Hertz.</h3>
			<h1>Hur länge behöver du bil?</h1>
			<p>
				Starta ditt abonnemang idag och kör i upp till 12 månader. Eller avsluta när det passar dig. Till en nästan ny Volvo XC40 ingår försäkring, fordonsskatt, service, Sunfleet-medlemskap med 10 fria resor à 500 kr, vinterhjul med hjulskifte och förvaring samt 20 procent rabatt på Hertz hyrbilar. Självklart till en fast månadskostnad.
			</p>
			<p><strong>Leveranstid ca 14 dagar.
			<br>30 dagar uppsägningstid.</strong></p>
			<br>
			<p>Volvo XC40</p>
			<h2>5 900 kr/mån</h2>

		</div>
	<div class="cbvPicker">
		<div class="stepMenu">
			<div class="step currentStep" id="step1">1. Anpassa bil</div>
			<div class="step" id="step2">2. Dina uppgifter</div>
			<div class="step" id="step3">3. Starta abonnemang</div>
		</div>
		<div class="step1">
			<div class="hertzBlock">
				<div class="wrapper">

					<div class="carInfo">
						<img src="@@path/img/closeIcon.svg" class="closeIcon"/>
						<div class="carInfoWrapper">
							<h2>Bilen är utrustad med:</h2>
							<ul>
								<li>Connected Safety (Varnar och tar emot varning för halka och bilar längre fram med aktiva varningsblinkers via molnet)</li>
								<li>Hill Descent Control</li>
								<li>City Safety:</li><span><li>- Autobrake at Intersection</li></span> <span><li>- Collision warning även i mörker</li></span> <span><li>- Collision warning with full auto brake</li></span> <span><li>- Pedestrian detection with full auto brake</li></span>
								<span><li>- Cyclist detection with full auto brake</li></span> <span><li>- Large Animal Detection</li></span> <span><li>- Oncoming mitigation by braking</li></span>
								<li>Lane Keeping Aid</li>
								<li>Lane Departure Warning</li>
								<li>Oncoming Lane Mitigation</li>
								<li>Run Off Road Mitigation</li>
								<li>Sidokrockkuddar SIPS i framstolar.</li>
								<li>Road sign information</li>
								<li>Internet maps (visas i centerdisplayen)</li>
								<li>Keyless Start</li>
								<li>Regnsensor</li>
								<li>Röststyrning</li>
								<li>Sensus Connect Performance 9"</li>
								<li>Servostyrning, progressiv</li>
								<li>Start/Stopp-funktion</li>
								<li>Starthjälp i backe (Hill start assist)</li>
								<li>Strålkastare, LED (inkl automatisk av/påbländning)</li>
								<li>Torkarblad, integrerat spolarsystem</li>
								<li>Parkeringssensor bak</li>
								<li>Svankstöd framstolar, 4-vägs elmanövrerade</li>
								<li>Ytterbackspeglar elektriskt infällbara</li>
								<li>Programmerbar bränslevärmare</li>
								<li>Rattvärme</li>
								<li>Spolarmunstycken, eluppvärmda</li>
								<li>Volvo On Call med Wi-Fi Hotspot</li>
								<li>Car sharing, dela bilen med mobilen</li><br>
							</ul>
							<p>
								Diesel: Förbr. l/100 km bl. körn: 5,0. Koldioxidutsläpp CO2: 131 g/km<br />
								Bensin: Förbr. l/100 km bl. körn: 7,1. Koldioxidutsläpp CO2: 164 g/km
							</p>
						</div>
					</div>

					<div class="hertzContent">
						<h2 class="carTitle">Volvo XC40 Momentum Edition</h2>
						<p>
							Bensin- eller dieselmotor. Växellåda: Automat. <br>
							Service. Skatt. Vinterhjul med förvaring. 30 dagars uppsägningstid. 125 mil/mån.
						</p>
						<a href="#" class="eq-info">Se bilens utrustning</a>
					</div>

					<div class="carousel"></div>

					<div class="hertzChoiceForm">
						<div class="colorSelect">
							<p class="color-name"><span></span><strong>&nbsp +0 kr/mån</strong></p>
						</div>
						<div class="citySelect formSelect">
							<p class="choiceTitle ort">
								Välj din närmaste stad
							</p>
							<br>
							<div class="formButton" data-value="Stockholm">
								<p>Stockholm</p>
							</div>
							<div class="formButton" data-value="Göteborg">
								<p>Göteborg</p>
							</div>
							<div class="formButton" data-value="Malmö">
								<p>Malmö</p>
							</div>
						</div>
						<div class="dateSelect formSelect">
							<p class="choiceTitle datum">
								När vill du hämta bilen<br><span class="permittedDates"></span>
							</p>
							<br>
							<div class="dateSelectWrapper">
								<input type="text" placeholder="Upphämtning" id="dateSelect1" class="dateSelect1" />
							</div>
						</div>

						<div class="pris-next-btn">
							<div class="pris-text">
								<h2>5 900 kr/mån</h2>
							</div>
							<a class="fbi-volvo-button blue orderBtn" href="#">Gå vidare</a>
						</div>

						<p class="stepFailed step1Failed">
							Vänligen klicka i alla alternativ
						</p>

					</div>
					<div class="cbvContacts">
						<h2>Kontaktuppgifter</h2>
						<p>E-post: <a href="mailto:carebyvolvo@hertz.se">carebyvolvo@hertz.se</a></p>

						<div class="links">
							<a class="link" target="_blank" href="https://assets.volvocars.com/se/~/media/sweden/downloads/CbV_Hertz_Allmanna_villkor_hyresavtal_20181112.pdf"> Villkor</a>
						</div>
					</div>
					<div class="questions-container">
						<div class="faq-wrapper">

							<div class="questions-content">
								<h2>Vanliga frågor och svar</h2>
								<br /><br />
								<h5>Bokning och Leverans</h5>
								<div class="faq-hairline"></div>
								<div class="question-wrapper">
									<p class="question">
										Hur länge kan jag teckna mitt abonnemang?
									</p>
									<p class="answer">
										Avtalstiden är en till tolv månader med möjlighet till  förlängning i upp till sex ytterligare månader, dvs. totalt 12 månader, från upphämtningsdatumet. I vissa fall kan aktuell bil behöva bytas ut under pågående avtalsperiod. Hertz meddelar i så fall dig detta. Abonnemanget löper tills vidare i upp till maximalt 12 månader till dess du väljer att avsluta abonnemanget. Om du önskar avsluta abonnemanget meddela datum och tid för önskad återlämning via mail till <a href="carebyvolvo@hertz.se">carebyvolvo@hertz.se</a>. Återlämning sker på samma Hertzkontor som du hämtade upp bilen på.
									</p>
								</div>
								<div class="question-wrapper">
									<p class="question">
										Hur går faktureringen till?
									</p>
									<p class="answer">
										Du faktureras av Hertz via Bilreda. Vid fakturafrågor kan du kontakta carebyvolvo@bilreda.se.
									</p>
								</div>
								<div class="question-wrapper">
									<p class="question">
										Kan jag betala med autogiro eller e-faktura?
									</p>
									<p class="answer">
										Fakturan kommer att skickas per post, eller så kan du enkelt ansöka om e-faktura hos din bank. Autogiro eller faktura per e-mail kan tyvärr inte erbjudas i dagsläget.
									</p>
								</div>
								<div class="question-wrapper">
									<p class="question">
										Vilka krav måste jag uppfylla vid teckning av abonnemang?
									</p>
									<p class="answer">
										Du måste vara folkbokförd i Sverige samt fri från anmärkningar hos Kronofogden, skatteanmärkningar och skulder samt inneha giltigt svenskt körkort.
									</p>
								</div>
								<div class="question-wrapper">
									<p class="question">
										Utförs en kreditupplysningen på mig?
									</p>
									<p class="answer">
										Ja, en kreditupplysning kommer att utföras för att bedöma din kreditvärdighet, tex inkomst och aktuella krediter.
									</p>
								</div>

								<div class="question-wrapper">
									<p class="question">
										Hur lång är uppsägningstiden?
									</p>
									<p class="answer">
										Du betalar för varje påbörjad månad. Väljer du att lämna tillbaka bilen efter tio dagar betalar du ändå för en hel månad. Motsvarande gäller även om du har bilen i en månad och fem dagar, då betalar du för två månader.
									</p>
								</div>
								<div class="question-wrapper">
									<p class="question">
										När sker leverans?
									</p>
									<p class="answer">
										Leverans sker inom 14 dagar från att du lagt din beställning online. Avtalstiden påbörjas vid uthämtning av bil som sker på Hertz uthyrningsstation i Stockholm, Göteborg eller Malmö. Vid uthämtning av bil kommer du att få ett sms med länk till en film om bilens funktioner och information om Care by Volvo.
									</p>
								</div>

								<h5>Under abonnemangstiden</h5>
								<div class="faq-hairline"></div>
								<div class="question-wrapper">
									<p class="question">
										Är det tillåtet med extraförare?
									</p>
									<p class="answer">
										Du som hyr bilen är fullt ansvarig för bilen under abonnemangstiden och ansvarar därmed för att samtliga förare av bilen har godkänt svensk körkort. Om personen endast har utländskt körkort krävs att det finns foto på innehavaren på körkortet. Eventuella andra förare än dig som abonnemangsinnehavare ska anmälas till Hertz via <a href="carebyvolvo@hertz.se">carebyvolvo@hertz.se</a> med angivande av namn och personnummer. Endast familjemedlemmar (dvs. föräldrar, barn, sambo, make/maka) får bruka bilen utöver dig som abonnemangsinnehavare utan föregående skriftligt godkännande från Hertz..
									</p>
								</div>
								<div class="question-wrapper">
									<p class="question">
										Får jag köra längre än 125 mil/månad?
									</p>
									<p class="answer">
										Abonnemanget innefattar motsvarande 125 mil/månad. En sammanställning av körsträcka sker vid återlämning av bilen och körsträckan kan därmed variera över månaderna. Det vill säga vid en abonnemangsperiod på tre månader ingår alltså en total körsträcka om 375 mil sett över hela abonnemangsperioden. För eventuella överskjutande mil debiteras en kostnad om 6 kronor vid återlämning.
									</p>
								</div>
								<div class="question-wrapper">
									<p class="question">
										Är det tillåtet att ha djur i bilen?
									</p>
									<p class="answer">
										Det är tillåtet men en kostnad om 1 500 kronor tillkommer för sanering. Med hänsyn till kunder med allergier måste en sanering göras.
									</p>
								</div>
								<div class="question-wrapper">
									<p class="question">
										Kan tillbehör så som takräcke, barnstol och dragkrok väljas till?
									</p>
									<p class="answer">
										Tillbehör kan inte adderas i abonnemanget.
									</p>
								</div>
								<div class="question-wrapper">
									<p class="question">
										Betalar jag fordonskatt?
									</p>
									<p class="answer">
										Nej, det ingår i månadspriset.
									</p>
								</div>
								<div class="question-wrapper">
									<p class="question">
										Hur fungerar trängselskatt, p-böter, broavgift och parkeringsavgifter?
									</p>
									<p class="answer">
										Hanteras som en faktisk kostnad som betalas av dig via faktura.
									</p>
								</div>
								<h5>Återlämning</h5>
								<div class="faq-hairline"></div>
								<div class="question-wrapper">
									<p class="question">
										Hur gör jag vid återlämning av bil?
									</p>
									<p class="answer">
										Du måste meddela Hertz via carebyvolvo@hertz.se innan återlämning av bil. Bilen ska lämnas tvättad och städad samt med full tank. Om bilen inte är tankad tar Hertz ut en kostnad för detta (från 160 till 240 kronor exklusive moms). Återlämning sker på samma Hertzkontor som upphämtning.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="step2">
			<div class="summary">
				<div class="imgWrapper">
					<img src="https://static.fbinhouse.se/600x/1953613120C11071100R100000000000000MC0B60MC0B90_EXTERIOR_1.png" />
				</div>
				<div class="textWrapper">
					<h2 class="selectedXC40">Volvo XC40</h2>
					<h2>5 900 kr/mån</h2>
					<p class="backBtn">Ändra</p>
				</div>
			</div>
			<div class="wrapper">
				<main>
					<form id="contactForm" action="@@path/contact-form-handler.php" method="post">
						<input type='hidden' id='color' name='color'/>
						<input type='hidden' id='carCity' name='carCity'/>
						<input type='hidden' id='startDate' name='startDate'/>
						<input type='hidden' id='length' name='length'/>

						<div class="input-group input-name">
							<p>För- och efternamn och personnummer</p>
							<input type="text" id='firstname' name='firstname' placeholder="Förnamn *" required />
							<input type="text" id='lastname' name='lastname' placeholder="Efternamn *" required />
							<input type="text" id='ssn' name='ssn' placeholder="ÅÅÅÅMMDD-NNNN *" required />
						</div>
						<div class="input-group input-mail">
							<p>Telefonnummer och E-post</p>
							<input type="text" id='phonenumber' name='phonenumber' placeholder="Telefonnummer" />
							<input type="text" id='emailaddress' name='emailaddress' placeholder="E-postadress *" required />
						</div>
						<div class="input-group input-address">
							<p>Adress</p>
							<input type="text" id='street' name='street' placeholder="Gatuadress *" required />
							<input type="text" id='secondaddress' name='secondaddress' placeholder="Adress 2" />
							<div class="postnr-wrapper">
								<input type="text" id='zipcode' name='zipcode' placeholder="Postnummer *" />
								<input type="text" id='city' name='city' placeholder="Ort *" required />
							</div>
						</div>
						<div class="input-group input-acceptCreditScore">
							<input type="checkbox" id="acceptCreditScore" name="acceptCreditScore" required/>
							<label for="acceptCreditScore">Jag godkänner villkoren samt att en kreditupplysning kommer att utföras. *</label>
						</div>

						<div class="input-group">
							<a class="fbi-volvo-button blue orderBtn" href="#" tab-index='6'>Gå vidare</a>
							<p class="stepFailed step2Failed validationFailed">
								Vänligen fyll i alla stjärnmärkta fält.
							</p>
							<p class="stepFailed step2Failed formPostFailed">
								Någonting gick fel när formuläret skickades, var vänlig försök senare.
							</p>
						</div>
						<div class="formTerms">
								Avisering om uppsägning av tjänsten kan ske skriftligen till
								<a href="mailto:carebyvolvo@hertz.se">carebyvolvo@hertz.se</a>
								eller direkt till uthyrningskontoret där du hämtade ut din Volvo XC40.
								Varje ny påbörjad månadsperiod debiteras med en full månadskostnad.
								Uppsägning av abonnemanget kan ske fram till datum för ny påbörjad
								månadsperiod och sker formellt när bilen är återlämnad till uthyrningskontoret.
								Erbjudandet kan inte kombineras med andra rabatter eller förmåner. Senaste upphämtningsdag är 31 december 2018.
						</div>
						<div class="gdprConsent">
							Volvo Car Sverige kommer att lagra och hantera dina persondata i enlighet med detta <a href="https://www.volvocars.com/se/sidfot/integritet?tag=in_01&amp;menu=show">Integritetsmeddelande</a>. Volvo Car Sverige kommer också att dela dina persondata med First Rent a Car AB, Hertz International Frachisee för att hantera din begäran. Genom att gå vidare ger jag medgivande till hantering av mina persondata.
						</div>
					</form>
				</main>
			</div>
		</div>

		<div class="step3">
			<div class="wrapper">
				<h5>Tack för att du väljer</h5>
				<h1>Care By Volvo</h1>
				<p>
					En kundmottagare kontaktar dig inom kort för att slutföra bokningen.
				</p>
				<p>
					Vid frågor kontakta <a href="mailto:carebyvolvo@hertz.se">carebyvolvo@hertz.se</a>
				</p>
			</div>
		</div>
	</div>
	<div class="info-lightBox"></div>
</div>
