.step2 {

    main {
        width: 100%;
    }

    .header {
        display: block;
        width: 100%;
        text-align: center;

        h1 {
            font-size: 4em;
            line-height: 1.5em;
        }
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;
        background: #2d2d2d;
        display: block;
    }

    .content:after,
    .wrapper:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
    }

    form {
        display: block;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding-top: 20px;
    }

    .input-group {
        margin: 20px;
        p {
            text-align: center;
            font-size: 18px !important;
        }
        input {
            color: #2d2d2d;
            margin-left: 2px;
            margin-right: 2px;
            padding-left: 15px;
            @media screen and (max-width: 768px) {
                display: block !important;
                width: 100% !important;
                margin: 10px 0 !important;
            }
        }
        &.input-name {
            #firstname {
                display: inline-block;
                width: 47%;
            }
            #lastname {
                display: inline-block;
                width: 49%;
            }
            #ssn {
                width: 49%;
                display: block;
                margin: auto;
            }
        }
        &.input-mail {
            #tele {
                display: inline-block;
                width: 47%;
            }
            #epost {
                display: inline-block;
                width: 49%;
            }
        }
        &.input-address {
            #adress {
                display: inline-block;
                width: 47%;
            }
            #adress2 {
                display: inline-block;
                width: 49%;
            }

        }
        .postnr-wrapper {
            display: block;
            #postnr {
                display: inline-block;
                width: 30%;
            }
            #ort {
                display: inline-block;
                width: 47%;
            }
        }
        input {
            &::placeholder {
                color: #777777 !important;
            }
        }
    }

    label {
        display: block;
        position: relative;
        top: -5px;
        font-size: 14px;
        color: #fff;
        letter-spacing: 0.5px;
        font-weight: 400;
    }

    input,
    textarea {
        display: block;
        width: 100%;
        padding: 5px;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 3px;
    }

    input:focus,
    textarea:focus {
        outline: 0;
        box-shadow: 0 0 3px #5FA7D3;
        border: 1px solid #5FA7D3;
    }

    textarea {
        resize: none;
        height: 100px;
    }

    .signup {
        color: rgba(0,0,0,.5);

        .fa {
            cursor: pointer;
        }
    }

    input[type='submit'] {
        background: #017bd1;
        color: #fff;
        width: 50%;
        border: 1px solid #017bd1;
        padding: 20px;
        margin: auto;

        &:after {
            display: inline-block;
            font-family: fbi-volvo-icons,volvo-icons;
            content: "";
            transition: padding 0.3s ease,margin 0.3s ease,transform 0.3s ease;
            vertical-align: -.2em;
            padding-left: 10px;
        }
    }

    input[type='submit']:focus {
        box-shadow: none;
        cursor: pointer;
    }

}
