@import 'mixins.less';
@import 'volvo.config.less';
@import 'modules.less';
@import 'step2Form.less';
@import 'modules/flickity.less';
@import 'default.datepicker.less';
@import 'default.date.less';

@import 'https://vcs.fbinhouse.se/volvo-style-guide/assets/toolkit/styles/fbi-volvo-style-guide.css';

// Keep this block
html {
    &.removeScroll {
        overflow: hidden !important;
        height: 100%;
    }
}

#fbi-content {
    background-color: #2d2d2d;
    padding-top: 0px;
    color: #fff;
    margin-top: 46px !important;

    a {
        //.fbi-link();
    }

    .gdprConsent, .formTerms {
        margin: 20px;

        a {
            color: #fff;
            font-weight: 600;
            &:after {
                display: none;
            }
        }
    }

    .fbi-headerblock {
        .fbi-volvo-hero-module();

        @media screen and ( max-width: 1000px ) {
            padding-top: 47% !important;
        }
        @media screen and ( max-width: 768px ) {
            padding-top: 57% !important;
        }

        .image-mobile {
            width: 100% !important;
            height: auto !important;
            left: 0 !important;
            top: 0 !important;
        }

        .text-align-left {
            text-align: left;
            width: 100%;
            color: #fff;
            max-width: 590px;
            position: absolute;
            left: 8%;

            @media screen and ( max-width: 1000px ) {
                display: none;
            }

            p {
                margin-bottom: 25px;
            }

            #hertzlogo {
                width: 80px;
            }
        }
        .pris-bottom-left {
            text-align: left;
            width: 100%;
            color: #ffffff;
            max-width: 500px;
            position: absolute;
            left: 8%;
            bottom: 5%;
            p {
                margin-bottom: 5px;
            }

            @media screen and ( max-width: 1000px ) {
                display: none;
            }
        }
    }

    .mobile-heroheadline {
        display: none;
        background-color: #000;
        color:#fff;
        padding: 6%;

        @media screen and ( max-width: 1000px ) {
            display: block;
        }

        #hertzlogo {
            width: 80px;
        }
    }

    .cbvPicker {
        overflow: hidden;
        .siteTitle {
            text-align: center;
            padding-bottom: 20px;
            padding-top: 20px;
        }

        .stepMenu {
            width: 100%;
            max-width: 1400px;
            text-align: center;
            margin: auto;
            padding-top: 50px;
            padding-bottom: 10px;
            @media screen and (max-width: 768px) {
                padding-bottom: 0;
            }

            .step {
                width: 33.33333%;
                display: inline-block;
                font-size: 18px;
                color: #92a5b2;
                border-bottom: 4px solid #92a5b2;
                padding-bottom: 10px;

                &.currentStep {
                    color: #fff;
                    border-bottom: 4px solid #fff;
                }
                @media screen and (max-width: 768px) {
                    width: 100%;
                    max-width: 230px;
                    display: block;
                    margin: auto auto 20px;
                    /*&#step2, &#step3 {
                        display: none;
                    }*/
                }

                &#step1 {
                    cursor: pointer;
                }
            }
        }

        .stepFailed {
            display: none;
            color: #fff;
            padding-top: 10px;
            padding-bottom: 150px;
        }

        .step1 {
            @media screen and (max-width: 1000px) {
                padding: 0 20px;

                .carContent {
                    padding-bottom: 50px;
                }
            }

            .hertzBlock {
                width: 100%;
                color: #fff;
                margin: 50px auto auto;

                .wrapper {
                    background-color: #2d2d2d;
                    margin: 15px 0;
                    margin-bottom: 0px;
                    padding: 50px 0 10px;
                    padding-bottom: 0px;
                    text-align: center;
                    @media screen and (max-width: 900px) {
                        padding: 30px 20px;
                        padding-bottom: 0px;
                        text-align: center;
                    }
                    @media screen and (max-width: 480px) {
                        padding: 0px 20px;
                    }

                    .imgWrapper {
                        display: inline-block;
                        margin-bottom: 40px;

                        img {
                            vertical-align: middle;
                            display: block;
                            width: 100%;
                            height: 100%;
                            max-width: 550px;
                            @media screen and (max-width: 768px) {
                                max-width: 450px;
                            }
                        }
                    }

                    .carousel {
                        max-width: 1200px;
                        margin: 0 auto;

                        &.selected {
                            display: block;
                        }

                        .carousel-cell {
                            width: 100%;
                        }
                        .flickity-button {
                          background: transparent;
                        }
                        /* big previous & next buttons */
                        .flickity-prev-next-button {
                          width: 30px;
                          height: 30px;

                        }
                        /* icon color */
                        .flickity-button-icon {
                          fill: white;
                          @media screen and (max-width: 768px) {
                            opacity: 0.5;
                          }
                        }
                        @media screen and (max-width: 768px) {
                            width: 150%;
                            left:-25%;
                        }
                    }

                    .hertzContent {
                        text-align: center;
                        vertical-align: middle;
                        display: block;
                        .infobutton {
                            background-image: url('@@path/img/infoicon.svg');
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            background-size: 100%;
                            margin-left: 8px;
                            cursor: pointer;
                        }
                        h2 {
                            display: inline-block;
                            &:first-of-type {
                                white-space: nowrap;
                            }
                        }
                        a {
                            color: #ffffff !important;
                        }

                        @media screen and (max-width: 768px) {
                            padding-top: 20px;
                            text-align: center;
                        }

                        .eq-info {
                            color: #007bcd !important;
                        }
                    }



                    .hertzChoiceForm {
                        width: 100%;
                        padding-bottom: 200px;
                        display: inline-block;
                        margin: 0 auto;

                        .formButton {
                            background-color: #fff;
                            color: black;
                            display: inline-block;
                            margin: 0 5px;
                            padding: 13px;
                            cursor: pointer;
                            transition: 0.2s ease all;
                            width: 180px;
                            @media screen and (max-width: 768px) {
                                width: 100%;
                                margin: 10px auto;
                                display: block;
                            }
                            p {
                                margin: 0;
                                color: #2d2d2d;
                            }
                            &:hover {
                                background-color: #017bd1;
                                p {
                                    color: #fff;
                                }
                            }
                            &.selected {
                                background-color: #017bd1;
                                p {
                                    color: #fff;
                                }
                            }
                            &.highlight {
                                border: 1px solid red;
                            }
                        }
                        .choiceTitle {
                            margin-top: 0;
                            margin-bottom: 10px;
                            text-align: left;
                            display: inline-block;

                             &.datum {
                                 max-width: 497px;
                                 text-align: center;
                             }

                             &.ort {
                                 max-width: 558px;
                             }

                             &.color {
                                 width: 207px;
                             }

                        }
                        .colorSelect {
                            .color {
                                display: inline-block;
                                margin: 0 5px;
                                padding: 18px;
                                cursor: pointer;
                                background-size: cover;

                                &.onyx-black-metallic {
                                    background-image: url("@@path/img/colorIcons/v40/color_717.png");
                                }

                                &.ice-white-solid {
                                    background-image: url("@@path/img/colorIcons/v40/color_614.png");
                                }

                                &.osmium-grey-metallic {
                                    background-image: url("@@path/img/colorIcons/v40/color_714.png");
                                }

                                &.bright-silver-metallic {
                                    background-image: url("@@path/img/colorIcons/v40/color_711.png");
                                }

                                &.selected {
                                    border: 2px solid #017bd1;
                                    padding: 16px;
                                }
                            }

                            .color-name {
                                display: none;
                            }
                        }
                        .formSelect {
                            padding-top: 30px;
                            text-align: center;
                        }
                        a {
                            background-color: #017bd1 !important;
                            border-color: #017bd1 !important;
                            color: #ffffff !important;
                            width: 300px;
                            margin: 0 20px;
                            margin-top: 50px;
                            @media screen and (max-width: 768px) {
                                width: 100%;
                                margin: 40px auto;
                            }
                        }
                        .dateSelect {
                            .permittedDates.outsideRange {
                                color: #ff0000;
                            }

                            .dateSelectWrapper {
                                position: relative;
                                display: inline-block;
                                margin: 0;
                                color: #2d2d2d;
                                width: 250px;
                                padding-right: 10px;
                                cursor: pointer;

                                input {
                                    text-align: center;
                                    padding-left: 40px;
                                    padding-right: 28px;
                                    @media screen and (max-width: 768px) {
                                        padding: 0 !important;
                                        line-height: 8px !important;
                                    }

                                    &.highlight {
                                        border: 1px solid red;
                                    }
                                }

                                &::placeholder {
                                    color: #2d2d2d;
                                }
                                @media screen and (max-width: 768px) {
                                    display: block;
                                    width: 100%;
                                    padding: 0;
                                }
                                &:before {
                                    position: absolute;
                                    background-image: url('@@path/img/calendarIcon.svg');
                                    content: "";
                                    background-position: left center;
                                    background-repeat: no-repeat;
                                    background-size: 100%;
                                    padding-left: 10px;
                                    position: absolute;
                                    margin-right: 8px;
                                    left: 19px;
                                    top: 20px;
                                    width: 15px;
                                    height: 15px;
                                }
                                .picker__button--clear {
                                    display: none;
                                }
                                .picker__button--today {
                                    display: none;
                                }
                                .picker__button--close {
                                    font-size: 15px;
                                    font-weight: normal;
                                    width: 100%;
                                    text-align: center;
                                    margin: auto;
                                    margin-bottom: 10px;
                                    border: 0 !important;
                                    &:hover {
                                        background-color: transparent !important;
                                        border: 0 !important;
                                    }
                                }
                                .picker__nav--next:hover, .picker__nav--prev:hover {
                                    background: transparent !important;
                                }
                                .picker__nav--prev {
                                    &:before {
                                        border: 0 !important;
                                        display: inline-block;
                                        font-family: fbi-volvo-icons,volvo-icons !important;
                                        content: "" !important;
                                        transition: padding .3s ease,margin .3s ease,transform .3s ease;
                                        vertical-align: -.2em;
                                        padding-left: 10px;
                                        transform: rotate(180deg);
                                        position: absolute;
                                        top: 43px;
                                        left: 20px;
                                    }
                                }
                                .picker__nav--next {
                                    &:before {
                                        border: 0 !important;
                                        display: inline-block;
                                        font-family: fbi-volvo-icons,volvo-icons !important;
                                        content: "" !important;
                                        transition: padding .3s ease,margin .3s ease,transform .3s ease;
                                        vertical-align: -.2em;
                                        padding-left: 10px;
                                    }
                                }
                                .picker__day {
                                    font-size: 15px !important;
                                }
                                .picker__table {
                                    @media screen and (min-width: 768px) {
                                        //width: 500px;
                                        //margin: auto;
                                    }
                                }
                                .picker__weekday {
                                    text-align: center !important;
                                }
                                .picker__frame {
                                    top: 50%;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    border: 0;
                                    transform: translateY(-50%);
                                }
                                .picker__wrap {
                                    @media screen and (min-width: 768px) {
                                        width: 90% !important;
                                        margin: auto;
                                        height: 100%;
                                    }
                                }
                            }
                        }

                        .pris-next-btn {
                            display: inline-block;
                            background-color: #093552;
                            width: 100%;
                            margin-top: 60px;
                            z-index: 300;
                            position: absolute;
                            left:0;


                            &.stickBar {
                                position: fixed;
                                bottom:0;
                                left: 0;
                                /*@media screen and (max-width: 480px) {
                                    display: flex !important;
                                    align-items: center !important;
                                    justify-content: center !important;
                                }*/
                            }

                            .pris-text {
                                display: inline-block;
                                text-align: left;
                                vertical-align: middle;

                                p {
                                    text-align: left;
                                    line-height: 0;
                                }

                            }

                            a {
                                margin: 10px 0px 10px 50px!important;

                                @media screen and (max-width: 768px) {
                                    margin: 10px!important;
                                    width: 45%;
                                }
                            }
                        }
                    }
                    .carInfo {
                        width: 100%;
                        display: none;
                        position: fixed;
                        z-index: 500;
                        background-color: #fff;
                        max-width: 560px;
                        max-height: 420px;
                        color: #000;
                        padding: 30px;
                        text-align: left;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        right: 0;
                        min-height: 460px;
                        height: 100%;
                        box-shadow: 0 0 10px 0 rgba(0,0,0,.75);
                        overflow: auto;
                        margin: auto;
                        @media screen and (max-width: 480px) {
                            max-height: 420px;
                            margin-left: 20px;
                            margin-right: 20px;
                            margin-top: 30px;
                            width: 90%;
                            margin: auto;
                        }
                        h2 {
                            padding-bottom: 10px;
                        }
                        p span {
                            margin-left: 20px;
                        }
                        .closeIcon {
                            width: 60px;
                            position: absolute;
                            right: 5px;
                            top: 0;
                            padding: 20px;
                            z-index: 10;
                            cursor: pointer;
                        }
                        .carInfoClose {
                            color: #007bcd;
                            cursor: pointer;
                            display: block;
                            text-align: center;
                            width: 80px;
                        }
                        @media screen and ( max-width: 768px ) {
                            max-height: 400px;
                            overflow: auto;
                        }
                        .closeCarInfo {
                            p {
                                color: #007bcd;
                                cursor: pointer;
                                display: block;
                                text-align: center;
                                width: 80px;
                            }
                        }
                        .carInfoWrapper {
                            overflow: auto;
                            position: absolute;
                            background-color: #fff;
                            max-width: 560px;
                            color: #000;
                            padding: 30px;
                            text-align: left;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            strong {
                                display: block;
                                margin-bottom: 15px;
                            }
                            h2, p {
                                margin-left: 10px;
                                padding-top: 10px;
                                @media screen and (max-width: 480px) {
                                    margin-left: 0px;
                                }
                            }
                            ul {
                                margin-left: 30px;
                                @media screen and (max-width: 480px) {
                                    margin-left: 20px;
                                }
                                li {
                                    margin: 3px 0;
                                    list-style: disc;
                                }
                                span li {
                                    list-style: none;
                                }
                            }
                        }
                    }
                }

                .faq-wrapper {
                    width: 80%;
                    text-align: left;
                    margin: auto;
                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }
                }

                .questions-container {
                    background-color: #4a5664;
                    padding: 8%;
                    margin-left: -40px;
                    margin-right: -40px;
                    cursor: pointer;

                    h2 {
                        margin: 0;
                        display: inline-block;
                    }

                    .arrow-down {
                        margin-top: 10px;
                        display: inline-block;
                        transition: all .6s ease;
                    }

                    &.expanded {
                        .arrow-down {
                            transform:rotate(180deg);
                        }
                    }

                    .questions-content {
                        max-width: 60%;
                        margin: auto;

                        @media screen and (max-width: 1000px) {
                            max-width: inherit;
                        }

                        h3 {
                            margin-top: 30px;
                        }
                        .faq-hairline {
                            height: 1px;
                            background-color: white;
                            position: absolute;
                            margin: auto;
                            text-align: center;
                            width: 50%;
                            max-width: 600px;
                            @media screen and (max-width: 768px) {
                                width: 100%;
                                display: block;
                                margin-bottom: 30px;
                                position: relative;
                            }
                        }

                        .question-wrapper {
                            padding: 12px 0;
                            text-align: left;

                            .question {
                                font-family: 'Volvo Novum Medium' !important;
                                &:after {
                                    display: inline-block;
                                    font-family: fbi-volvo-icons,volvo-icons;
                                    content: '\E001';
                                    transition: padding .3s ease,margin .3s ease,transform .3s ease;
                                    vertical-align: -.2em;
                                    padding-left: 7px;
                                }
                                &.hidden {
                                    display: inline-block !important;
                                    &:after {
                                        content: '\E004';
                                    }
                                }
                                &:hover {
                                    color: #d2d2d2;
                                }
                            }
                            .answer {
                                display: none;
                                a {
                                    color: white;
                                    font-weight: 600;
                                    &:after {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }

                .cbvContacts {
                    margin: auto;
                    padding: 50px 20px;
                    text-align: center;
                    color: #000000;
                    background-color: #ffffff;
                    margin: 0 -40px;
                    h2 {
                        padding-bottom: 15px;
                    }
                    p {
                        margin: 0 auto 10px;
                        a {
                            &:after {
                                display: none;
                            }
                        }
                    }
                    .links {
                        padding-top: 0px !important;
                        a {
                            display: block;
                            max-width: 300px;
                            margin: auto;
                            &:last-of-type {
                                padding-top: 10px;
                            }
                        }
                    }
                }
            } // end hertzBlock
        }// end step1

        ::placeholder {
            color: #2d2d2d;
        }

        .step2 {
            padding-top: 50px;
            display: none;

            h1 {
                text-align: center;
            }
            @media screen and (max-width: 768px) {
                padding-top: 0px;
            }
            .summary {
                margin: auto;
                text-align: center;
                border-bottom: 1px solid white;
                padding-bottom: 30px;
                max-width: 1400px;
                @media screen and (max-width: 768px) {
                    max-width: 350px;
                    padding-top: 40px;
                    border: 0;
                }
                .imgWrapper {
                    display: inline-block;
                    vertical-align: middle;
                    img {
                        width: 100%;
                        max-width: 440px;
                        @media screen and (max-width: 768px) {
                            max-width: 350px;
                        }
                    }
                }
                .textWrapper {
                    display: inline-block;
                    vertical-align: middle;
                    text-align: left;
                    margin: auto;
                    max-width: 290px;
                    &:first-of-type {
                        padding-bottom: 10px;
                    }
                    h2 {
                        &:first-of-type {
                            white-space: nowrap;
                        }
                    }
                    .backBtn {
                        cursor: pointer;
                        &:before {
                            display: inline-block;
                            font-family: fbi-volvo-icons,volvo-icons;
                            content: '\E002';
                            transition: padding .3s ease,margin .3s ease,transform .3s ease;
                            vertical-align: -.2em;
                            padding-right: 10px;
                        }
                    }
                }
                @media screen and (max-width: 768px) {
                    .imgWrapper {
                        display: block;
                        padding-bottom: 10px;
                    }
                    .textWrapper {
                        display: block;
                    }
                }
            }

            .input-acceptCreditScore {
                padding-left: 3px;
                padding-top: 10px;

                label::before {
                    @media screen and (max-width: 480px) {
                        margin-top: 0;
                    }
                }
            }
        }

        .step3 {
            padding-top: 50px;
            display: none;

            h1 {
                text-align: center;
            }

            .wrapper {
                background-color: #2d2d2d;
                margin: 15px 0;
                margin-bottom: 0px;
                padding: 50px 0 10px;
                text-align: center;
                @media screen and (max-width: 900px) {
                    padding: 30px 20px;
                    text-align: center;
                }
                @media screen and (max-width: 480px) {
                    padding: 0px 20px;
                }
                a {
                    color: #fff;
                    font-weight: 600;
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    .info-lightBox {
        display: none;
        position: absolute;
        z-index: 99;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
}
@import 'style.1266.less';
@import 'style.768.less';
@import 'style.480.less';
@import 'overrides.less';
