@media screen and ( max-width: 480px ) {
    #fbi-content {
        font-size: 16px;

        h1 {
            font-size: 48px;
            line-height: 1;
        }

        h2 {
            font-size: 32px;
            line-height: 1.125;
        }

        h3 {
            font-size: 16px;
            line-height: 1.25;
        }

        .block-text {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
